body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  text-align: center;
  color: #fff;
}

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  margin: 0 auto;
  width: 80%;
  justify-content: center;
  margin-top: 30px;
}

.game {
  background-color: #5A6378;
  margin-right: 10px;
  width: 30%;
}

.game-info {
  background-color: #F3F6F7;
  margin-right: 10px;
  color: #5A6378;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.square {
  align-items: center;
  border: 1px solid white;
  display: flex;
  flex-basis: 33.33%;
  font-size: 50px;
  justify-content: center;
}

.square:after {
  content: "";
  padding-bottom: 100%;
}

.game-info {
  padding: 10px;
  width: 25%;
}

.next-player {
  font-size: 12px;
  margin-bottom: 5px;
  width: 100%;
}

.moves {
  font-size: 12px;
  margin-bottom: 10px;
}

.winner {
  font-size: 50px;
  margin-top: 20px;
  color: #7FD13B;
}

.history {
  display: flex;
  justify-content: center;
}

button {
  margin-bottom: 3px;
}

.state-buttons {
  display: flex;
  flex-direction: column;
  width: 80%;
}

@media (min-width: 768px) {
  .next-player, .moves {
    font-size: 16px;
  }
}

@media (min-width: 1080px) {
  .next-player, .moves {
    font-size: 20px;
  }
}
